.profile-picture {
    width: 60px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
    vertical-align:middle;
    display: inline-block;
}

span {
    vertical-align:middle;
    text-align: center;
    margin-left: 15px;
}

.contact-data {
    padding: 5%;
    background-color: #a8e6cf;
    border-bottom: 1px solid gray;
}

.contact-data:hover {
    background-color: #b7efcd;
    cursor: pointer;
}

.contact-data:active{
    background-color: #dcedc1;
    cursor: pointer;
}