.owner,
.contact {
    min-width: 50px;
    margin-top: 2%;
    margin-bottom: 2%;
    border-radius: 7px;
    padding: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .2);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    width: max-content;

}

/*em*/

.owner {
    background-color: #51dacf;
    text-align: right;
    margin-left: 85%;
}

.contact {
    background-color: #d2fafb;
    text-align: left;
    margin-left: 20%;
}
